
/******* navbar ****/

.navbar-brand a {
    font-size: 20px;
}

input:focus::placeholder {
    color: transparent;
}

/******* HOME PAGE *******/

.tags-summary  {
    line-height: 2.7;
}

#title-banner {
    font-size: 120px;
}

.seeall {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(214, 214, 214);
}

.seeall:hover {
    background-color: rgb(187, 187, 187);
}

@media all and (max-width: 768px) {
    #all-tags {
        list-style-type: none;
    }
}

@media all and (min-width: 769px) {
    #all-tags {
        columns: 2;
        list-style-type: none;
    }
}

/**** BLOG MAIN ********/

#page-body {
    margin-top: 2em;
    min-height: 75vh;
    position: relative;
}

.info {
    font-size: 0.9em;
}

h1.title.is-3 {
    margin-bottom: 0.4em;
}

@media all and (max-width: 1023px) {
    #infobar {
        margin-bottom: 0.5em;
    }
}

.blog-text {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.84);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.7;
    margin-top: 1.8em;
}

.blog-text img {
    max-width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#admin-table-summary {
    font-weight: bold;
}

#author-image {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----- BLOG BRIEF ------- */

.blog-brief .is-4 {
    margin-bottom: 0.3em;
}
.blog-brief .is-4:hover {
    text-decoration: underline;
}

.blog-brief .date {
    font-weight: 500;
}

.blog-brief .info {
    font-size: 0.8em;
}

.blog-brief .summary {
    color: black;
    opacity: 0.84;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1em;

    overflow: hidden;
    max-height: 4.4em;
    min-height: 1.1em;
}

@media all and (min-width: 769px) { /*for large devices*/
    .blog-brief img {
        height: 5em;
        float: left;       
        margin-right: 0.8em;
        display: block;
    }
}

@media all and (max-width: 768px) { /*FOR MOBILE*/
    .blog-brief img {
        float: clear;
        max-width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8em;
    }
}

.continue-reading {
    clear: both;
    margin-top: 0.5em;
    font-weight: 450;
}

.continue-reading a {
    color: black;
    opacity: 0.84;
}

.continue-reading a:hover {
    text-decoration: underline;
    color: black;
    opacity: 0.84;
}

/***** BULMA FIX ******/

.columns {
    margin: 0;
}

/**************/

.sections-list h1 {
    line-height: 1.5em;
}

.sections-list a:hover {
    text-decoration: underline;
}

/******** Footer *******/

.footer p {
    font-size: 0.9em;
}

.footer a {
    text-decoration: underline;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0px;
}