{{ define "main" }}

<div class="columns is-centered">
    <div class="column is-8">
        <section class="section">
            <div class="content">
                <h1>{{ .Title }}</h1>
                {{ range .Paginator.Pages }}
                {{- partial "blog-summary-vertical.html" . -}}
                {{ end }}
            </div>
        </section>

    </div>
</div>
</div>

{{ if gt .Paginator.TotalPages 1 }}
<h1>Pagination</h1>
{{ template "_internal/pagination.html" . }}
{{ end }}

{{ end }}