{{ define "main" }}

<div id="blog-body" class="columns is-centered">
    <div class="column is-7">
        <section class="section">
            <div class="content">
                <h1 class="title">{{ .Title }}</h1>
                <h4>Tags</h4>
                <ul id="tags">
                    {{ range .Params.tags }}
                    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . | humanize }}</a> </li>
                    {{ end }}
                </ul>

                <div class="blog-text">
                    {{ with .Params.image }}
                    <img src="{{ . }}">
                    {{ end }}

                    {{ .Content }}
                </div>
            </div>
        </section>

        <section class="section">
            {{- partial "social-media-share.html" . -}}
            <br>
            {{ template "_internal/disqus.html" . }}
        </section>
    </div>
</div>

{{ end }}