<title>
    {{- if not .IsHome }}
    {{ with .Title | title }}{{ . }} | {{ end }}
    {{ end }}
    {{ .Site.Title -}}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<meta name="description" 
      content="{{- with .Description }}{{ . }}
                {{ else }}{{ with .Summary }}{{ . }}
                {{ else }}{{ .Site.Params.description }}
                {{ end }}{{ end -}}">

<link rel="canonical" href="{{ .Permalink }}" />

<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}image/favicon.ico">

<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/bulma.min.css" | relURL }}">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ if not (in (string .Site.BaseURL) "localhost") }}
    {{ template "_internal/google_analytics_async.html" . }}
{{ end }}

<script src={{ "/js/ramium.js" | relURL }}></script>
<link rel="stylesheet" href={{ "/css/ramium.css" | relURL }}>

{{ if .Params.chordsheet }}
<link rel="stylesheet" href={{ "/css/chordsheet.css" | relURL }}>
{{ end }}

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}