<title>
    {{- if not .IsHome }}
    {{ with .Title | title }}{{ . }} | {{ end }}
    {{ end }}
    {{ .Site.Title -}}
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

{{- partial "meta.html" . -}}

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}image/favicon.ico">

{{ if .Site.Params.leanCSS }}
    {{ $css := resources.Get "ramium.scss" | toCSS | postCSS | minify}}
    <link rel="stylesheet" href="{{ $css.Permalink | relURL }}">
{{ else }}
    {{ $css := resources.Get "ramium.scss" | toCSS | minify}}
    <link rel="stylesheet" href="{{ $css.Permalink | relURL }}">
{{ end }}

{{ $js := resources.Get "ramium.js" | minify }}
<script src="{{ $js.Permalink | relURL }}"></script>

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{ if not (in (string .Site.BaseURL) "localhost") }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

{{ if .Site.Params.adsense }}
<script data-ad-client="{{ .Site.Params.adsense }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{ end }}