
/******* navbar ****/

.navbar-brand a {
    font-size: 20px;
}

input:focus::placeholder {
    color: transparent;
}

/******* HOME PAGE *******/

#tags-summary  {
    line-height: 2.7;
}

#title-banner {
    font-size: 120px;
}

@media all and (max-width: 768px) {
    #all-tags {
        list-style-type: none;
    }
}

@media all and (min-width: 769px) {
    #all-tags {
        columns: 2;
        list-style-type: none;
    }
}

/**** BLOG MAIN ********/

/* #page-body > div:first-child  { */

#page-body {
    margin-top: 2em;
    min-height: 75vh;
    position: relative;
}

.blog-text {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.84);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.8;
    margin-top: 1.8em;
}

.blog-text img {
    max-width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#admin-table-summary {
    font-weight: bold;
}

#author-image {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/******** Footer *******/

.footer p {
    font-size: 0.9em;
}

.footer a {
    text-decoration: underline;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0px;
}
/* ------------------ */

.blog-brief {
    display: block;
}


.blog-brief-date {
    font-weight: 500;
}


.blog-brief:hover {
}

.columns {
    margin: 0;
  }