{{ define "main" }}

<div class="content blog">
    <h1>{{ .Title | title }}</h1>

    <div id="infobar" class="level is-mobile">
        <div class="level-left">
            {{ if or .Params.showDate .Site.Params.showDate }}
            <div class="level-item">
                <p class="subtitle info date">
                    {{- .Date.Format "Jan 2, 2006" }}
                </p>
            </div>
            {{ end }}

            <div class="level-item">
                <p class="subtitle info">
                    {{ partial "time-to-read.html" . }}
                </p>
            </div>
        </div>
        <div class="level-right is-hidden-touch">
            <div class="tags">
                {{ range .Params.tags }}
                <a class="tag is-dark is-rounded" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . | title }}</a>
                {{ end }}
            </div>
        </div>
    </div>

    <div class="tags is-hidden-desktop">
        {{ range .Params.tags }}
        <a class="tag is-dark is-rounded" href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . | humanize }}</a>
        {{ end }}
    </div>

    <div class="blog-text">
        {{ with .Params.image }}
        <figure>
            <img src="{{ . | relURL }}">
        </figure>
        {{ end }}

        {{ .Content }}
    </div>
</div>

{{- partial "social-media-share.html" . -}}
<br>
{{ partial "disqus.html" . }}

{{ end }}