.chord-sheet h1 {
    color:red;
}

.chord-sheet {
    line-height: 1.2em;
}

.chord-sheet .row {
    margin-bottom: 0.8em;
}

.chord-sheet .column {
    display: inline-block;
    padding: 0;
    margin-right: 0.3em;
}

.chord-sheet .chord {
    color: rgb(0, 0, 177);
    font-weight: 600;
}

.chord-sheet .lyrics {
    font-size: 0.9em;
    font-weight: 400;
}

.chord-sheet .paragraph {
    margin-bottom: 3em;
}