body {
    font-family: sans-serif;
}

/******* navbar ****/

.navbar-brand a {
    font-size: 20px;
}

input:focus::placeholder {
    color: transparent;
}

/******* HOME PAGE *******/

.tags-summary  {
    line-height: 3;
}

.seeall {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(214, 214, 214);
}

.seeall:hover {
    background-color: rgb(187, 187, 187);
    text-decoration: underline;
}

@media all and (max-width: 768px) {
    #all-tags {
        list-style-type: none;
    }
}

@media all and (min-width: 769px) {
    #all-tags {
        columns: 2;
        list-style-type: none;
    }
}

/**** BLOG MAIN ********/

#page-body {
    margin-top: 2em;
    min-height: 75vh;
    position: relative;
}

.info {
    font-size: 0.9em;
}

@media all and (max-width: 1023px) {
    #infobar {
        margin-bottom: 0.5em;
    }
}

.blog .date {
    font-weight: 600;
}

.blog .title {
    font-size: 2.1em;
    margin-bottom: 0.5em;
}

.blog-text h1 {font-size: 1.75em;}
.blog-text h2 {font-size: 1.5em;}
.blog-text h3 {font-size: 1.25em;} 
.blog-text h4 {font-size: 1.125em;}
.blog-text h5 {font-size: 1em;}
.blog-text h6 {font-size: 0.9em;}

.blog-text {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.82);
    line-height: 1.7;
    margin-top: 1.8em;
}

.blog-text img {
    /* max-width: 85%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 1em;
    margin-bottom: 1.5em; */
}

.blog .blog-text p+p {
    margin-top: 1.5em;
}

.blog .blog-text li ol, .blog .blog-text li ul {
    margin-top: 0px;
}

/* For margin below videos */
/* .blog-text div { 
    margin-bottom: 1em;
} */

#admin-table-summary {
    font-weight: bold;
}

#author-image {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----- BLOG BRIEF ------- */

.blog-brief h3 {
    margin-bottom: 0.3em;
}
.blog-brief h3:hover {
    text-decoration: underline;
}

.blog-brief .date {
    font-weight: 600;
}

.blog-brief .info {
    font-size: 0.8em;
}

.blog-brief .summary {
    color: black;
    opacity: 0.84;
    font-size: 1.2em;

    overflow: hidden;
    max-height: 4.4em;
    min-height: 1.1em;
}

@media all and (min-width: 769px) { /*for large devices*/
    .blog-brief img {
        height: 5em;
        max-width: 13em;
        float: left;       
        margin-right: 0.8em;
        display: block;
    }
}

@media all and (max-width: 768px) { /*FOR MOBILE*/
    .blog-brief img {
        float: clear;
        max-width: 85%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.8em;
    }
}

.continue-reading {
    clear: both;
    margin-top: 0.5em;
    font-weight: 600;
}

.continue-reading a {
    color: black;
    opacity: 0.84;
}

.continue-reading a:hover {
    text-decoration: underline;
    color: black;
    opacity: 0.84;
}

.blog .blog-text blockquote p {
    margin-bottom: 0px;
}

/***** BULMA FIX ******/

.columns {
    margin: 0;
}

/**************/

.sections-list p {
    line-height: 1.7em;
}

.sections-list a:hover {
    text-decoration: underline;
}

/******** Footer *******/

.footer p {
    font-size: 0.9em;
}

.footer a {
    text-decoration: underline;
}

.cse .gsc-control-cse, .gsc-control-cse {
    padding: 0px;
}

/***** kbd tag style ****/

kbd {
    background-color: rgba(153, 159, 160, 0.329);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

/**** For codes ****/
.highlight {
    font-size: 0.9em;
}

#___gcse_0 {
    max-height: 0;
}