
/******* navbar ****/

.navbar-brand a {
    font-size: 20px;
}

/****** mega menu from hunzaboy ******/

.navbar-item.is-mega {
    position: static;
}

.navbar-item.is-mega.is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
}

/**************************/

/* @media screen and (max-width: 1023px) {
    .searchBar {
        box-sizing: border-box;
    }

    .searchBar input {
        width: 1000px;
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
        margin: 0 -17px;
    }
} */

/* .cse-search-input-box-id
    
} */

input:focus::placeholder {
    color: transparent;
}

#all-tags  {
    line-height: 2.7;
}

#blog-body {
    min-height: 75vh;
}

.blog-text p {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.84);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.8;
    margin-top: 1.8em;
    /* margin-bottom: 2em; */
}

.blog-text img {
    max-width: 92%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title-banner {
    font-size: 120px;
}

/******** Footer *******/

.footer p {
    font-size: 0.9em;
}

.footer a {
    text-decoration: underline;
}