{{ define "main" }}

<!-- is-fullheight-with-navbar is-bold is-light -->
<section class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                404! Page not found...
            </h1>

            <br><br>

            <h1 class="subtitle is-4">
                Here's what may have happened:
            </h1>
            <h1 class="subtitle is-6">
                1. The page was moved to another location. You can search for it above.
            </h1>
            <h1 class="subtitle is-6">
                2. The page was removed. You can read another one from below.
            </h1>
            <h1 class="subtitle is-6">
                3. This page never existed
            </h1>
        </div>
    </div>
</section>

{{- partial "index/tag-bullet.html" . -}}
{{- partial "index/section-bullet.html" . -}}
{{- partial "index/list-blog-brief.html" . -}}

{{ end }}