{{ define "main" }}

<!-- is-fullheight-with-navbar is-bold is-light -->
<section class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                404! Page not found...
            </h1>

            <br><br>

            <h1 class="subtitle is-4">
                Here's what may have happened:
            </h1>
            <h1 class="subtitle is-6">
                1. The page does not exist
            </h1>
            <h1 class="subtitle is-6">
                2. The page was moved to another location. Use the search bar above
            </h1>
            <h1 class="subtitle is-6">
                3. The content was removed. Read an article from below.
            </h1>
        </div>
    </div>
</section>

<section class="section has-text-centered">
    <div class="content">
        <a href="{{ "/tags/" | relURL }}">
            <h1>Read articles by tags</h1>
        </a>
        <p id="tags-summary">
            {{ $randTags := (slice)}}
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ $randTags = $randTags | append $name }}
            {{ end }}
            {{ $randTags = sort (first .Site.Params.TagsInHome (shuffle $randTags)) }}

            {{ range $name := $randTags }}
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">
                <span class="tag is-dark is-large is-rounded">
                    {{ $name | humanize }}
                </span>
            </a>
            {{ end }}
        </p>
    </div>
</section>

<section class="section has-text-centered">
    <div class="content">
        <h1>Sections</h1>
        <p id="all-series">
            {{ $randSections := shuffle (where .Site.Sections ".Title" "not in" "Posts Sections") }}
            {{ range sort (first .Site.Params.SectionsInHome $randSections) "Title" }}
            <a href="{{ .RelPermalink }}">
                <span class="tag is-dark is-large">
                    {{ .Title }}
                </span>
            </a>
            {{ end }}
        </p>
    </div>
</section>

<div class="columns is-centered">
    <div class="column is-7">
        <section class="section">
            <div class="content">
                <h2>Latest posts</h2>
            </div>
            {{ range first 5 (where .Site.RegularPages.ByPublishDate.Reverse ".Section" "!=" "Sections") }}
            {{- partial "blog-brief.html" . -}}
            {{ end }}
    </div>
    </section>

</div>

{{ end }}