{{ define "main" }}

<!-- is-fullheight-with-navbar is-bold is-light -->
<section class="hero has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                404! Page not found...
            </h1>

            <br><br>

            <h1 class="subtitle is-4">
                Here's what may have happened:
            </h1>
            <h1 class="subtitle is-6">
                1. The page does not exist
            </h1>
            <h1 class="subtitle is-6">
                2. The page was moved to another location. Use the search bar above
            </h1>
            <h1 class="subtitle is-6">
                3. The content was removed. Read an article from below.
            </h1>
        </div>
    </div>
</section>

<div class="columns is-centered has-text-centered">
    <div class="column is-10">
        <div class="content">
            <a href="{{ "/tags/" | relURL }}">
                <h1>Read articles by tags</h1>
            </a>
            <p class="tags-summary">
                {{ $randTags := (slice)}}
                {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                {{ $randTags = $randTags | append $name }}
                {{ end }}
                {{ $randTags = sort (first .Site.Params.TagsInHome (shuffle $randTags)) }}

                {{ range $name := $randTags }}
                <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">
                    <span class="tag is-dark is-large is-rounded">
                        {{ $name | humanize }}
                    </span>
                </a>
                {{ end }}
            </p>
        </div>
    </div>
</div>
<br>

<div class="columns is-centered has-text-centered">
    <div class="column is-10">
        <div class="content">
            <a href="{{ "/sections/" | relURL }}">
                <h1>Sections</h1>
            </a>
            <p class="tags-summary">
                {{ $randSections := shuffle (where .Site.Sections ".Title" "not in" "Posts Addons") }}
                {{ range sort (first .Site.Params.SectionsInHome $randSections) "Title" }}
                <a href="{{ .RelPermalink }}">
                    <span class="tag is-dark is-large">
                        {{ .Title | humanize | title }}
                    </span>
                </a>
                {{ end }}
            </p>
        </div>
    </div>
</div>
<br>

<div class="columns is-centered">
    <div class="column is-7">
        <div class="content">
            <a href="{{ "/posts/" | relURL }}">
                <h1 class="is-3">Recent posts</h1>
            </a>
        </div>
        {{ range first 5 (where .Site.RegularPages.ByPublishDate.Reverse ".Section" "not in" "addons") }}
        {{- partial "blog-brief.html" . -}}
        {{ end }}

        <div class="content">
            <a href="{{ "/posts/" | relURL }}">
                <h4 class="has-text-centered seeall">See all</h4>
            </a>
        </div>
    </div>
</div>

{{ end }}