{{ define "main" }}

<main aria-role="main">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
            <h1 class="title is-1">
                Hero title
            </h1>
            <h4 class="subtitle is-1">
                Hero subtitle
            </h4>
            </div>
        </div>
    </section>

    <h2>Tags</h2>
    <p id="all-tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}">
            <span class="tag is-dark is-large is-rounded">
                {{ $name }}
            </span>
        </a>
        {{ end }}
    </p>

    <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
    </header>
    <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
    </div>
    <div>
        <h2>Latest posts</h2>
        {{ range first 10 .Site.RegularPages }}
        {{- partial "summary-vertical.html" . -}}
        {{ end }}

        <h2>Sections</h2>
        {{ range first 10 .Site.Sections }}
            {{ .Render "summary"}}
            <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
        {{ end }}
    </div>
</main>

{{ end }}