{{ define "main" }}

<!-- is-fullheight-with-navbar is-bold is-light -->
<section class="hero has-text-centered">
    <br><br><br>
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                {{ .Title }}
            </h1>
            <h1 class="subtitle is-2">
                {{ .Params.Subtitle }}
            </h1>
            <h1 class="subtitle is-5">
                {{ with .Content }}
                {{ . }}
                {{ end }}
            </h1>
        </div>
    </div>
</section>

<section class="section has-text-centered">
    <div class="content">
        <a href="{{ "/tags/" | relURL }}">
            <h1>Read articles by tags</h1>
        </a>
        <p class="tags-summary">
            {{ $randTags := (slice)}}
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ $randTags = $randTags | append $name }}
            {{ end }}
            {{ $randTags = sort (first .Site.Params.TagsInHome (shuffle $randTags)) }}

            {{ range $name := $randTags }}
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">
                <span class="tag is-dark is-large is-rounded">
                    {{ $name | humanize }}
                </span>
            </a>
            {{ end }}
        </p>
    </div>
</section>

<section class="section has-text-centered">
    <div class="content">
        <a href="{{ "/sections/" | relURL }}">
            <h1>Sections</h1>
        </a>
        <p class="tags-summary">
            {{ $randSections := shuffle (where .Site.Sections ".Title" "not in" "Posts Sections") }}
            {{ range sort (first .Site.Params.SectionsInHome $randSections) "Title" }}
            <a href="{{ .RelPermalink }}">
                <span class="tag is-dark is-large">
                    {{ .Title }}
                </span>
            </a>
            {{ end }}
        </p>
    </div>
</section>

<div class="columns is-centered">
    <div class="column is-7">
        <div class="content">
            <a href="{{ "/posts/" | relURL }}">
                <h1 class="is-3">Latest posts</h1>
            </a>
        </div>
        {{ range first 5 (where .Site.RegularPages.ByPublishDate.Reverse ".Section" "!=" "Sections") }}
        {{- partial "blog-brief.html" . -}}
        {{ end }}
    </div>
</div>

{{ end }}